<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logo/logo.jpg">
    <title>Home | Point Of Sale</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            min-width: 100vw;
            min-height: 100vh;
            /* background-image: url('../img/logo/logo.jpg'); */
            /* background-size: 100%; */
        }
        .container img {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="../img/logo/logo.jpg" alt="Logo">
    </div>
</body>
</html>